$bgColor: rgba(199, 192, 223, 0.25);
$bgSecondColor: #fff;

$fontFamily: 'Lexend', sans-serif;

$lightColor: #8c8c8c;
$navLinkColor: #1b1b1b;
$navLinkHoverColor: rgb(28, 0, 86);
$skillHoverColor: rgb(28, 0, 86, 0.75);

$paddingBig: 70px;
$paddingSmall: 20px;

$contentWidth: 991px;
$tabletWidth: 768px;
$mobileBigWidth: 480px;
$mobileSmallWidth: 360px;

$transition: all .6s ease-out;
