.benefits {
  padding: var(--big-padding);
  background: #f2e5ff;
}

.btn_center {
  display: flex;
}

.btn {
  margin: auto;
  background-color: #ff9a3c;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding: 6px 24px 9px;
  border-radius: 14px;
  text-transform: capitalize;
  border: 1px solid transparent;
}

.btn:hover{
  opacity: 1;
  box-shadow: 0 0 6px 2px #ff9a3c;
  text-decoration: underline;
  cursor: pointer;
}

.btn:active {
  background-color: #fff;
  color: #ff9a3c;
  border: 1px solid #fff;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
}

@media (max-width: 991px) {
  .btn {
    font-size: 18px;
    padding: 6px 20px 9px;
  }
}